@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #F8FAFC; /* Brand Light */
  color: #0F172A; /* Brand Dark */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
